<% if shared_fees.any? %>
  <% shared_fees.each do |shared_fee| %>
    <%= link_to condo_shared_fee_path(@condo.id, shared_fee), class: "list-group-item p-3 list-group-item-action hover-strong", data: { turbo_frame: "modal" } do %>
      <div class="d-flex w-100 justify-content-between">
        <span class="d-block mb-1 fs-5">
          <%= shared_fee.description %>
        </span>
        <div class="d-flex flex-wrap text-end">
          <small class="d-block text-body-secondary w-100">
            <%= SharedFee.human_attribute_name(:issue_date) %>:
            <%= I18n.l(shared_fee.issue_date) %>
          </small>
          <% if shared_fee.active? %>
            <span class="mt-1 ms-auto badge text-bg-success text-uppercase"><%= I18n.t("shared_fee.statuses.#{shared_fee.status}") %></span>
          <% else %>
            <span class="mt-1 ms-auto badge text-bg-danger text-uppercase"><%= I18n.t("shared_fee.statuses.#{shared_fee.status}") %></span>
          <% end %>
        </div>
      </div>
      <span class="text-muted fs-7 text-lowercase"><%= SharedFee.human_attribute_name(:total_value) %></span>
      <span class="text-uppercase fs-7"><%= shared_fee.total_value.format %></span>
    <% end %>
  <% end %>
<% else %>
  <p><%= I18n.t('views.index.no_fees') %></p>
<% end %>