<div class="container mt-4">
  <h2>Contas Compartilhadas</h2>
  <% if @shared_fees.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= SharedFee.human_attribute_name(:description) %></th>
          <th scope="col"><%= SharedFee.human_attribute_name(:issue_date) %></th>
          <th scope="col"><%= SharedFee.human_attribute_name(:total_value) %></th>
          <th scope="col"><%= SharedFee.human_attribute_name(:status) %></th>
        </tr>
      </thead>
      <tbody>
        <% @shared_fees.each do |shared_fee| %>
          <tr>
            <td><%= link_to "#{shared_fee.description}", shared_fee_path(shared_fee) %></td>
            <td><%= I18n.l(shared_fee.issue_date) %></td>
            <td><%= shared_fee.total_value.format %></td>
            <% if shared_fee.active? %>
              <td class="text-success"><%= I18n.t("activerecord.attributes.shared_fee.enum_status.#{shared_fee.status}") %></td>
            <% else %>
              <td class="text-danger"><%= I18n.t("activerecord.attributes.shared_fee.enum_status.#{shared_fee.status}") %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Não foram encontradas contas compartilhadas.</p>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Lançar Conta Compartilhada', new_shared_fee_path(condo_id: @condo.id), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-6">
      <%= link_to I18n.t('helpers.buttons.back'), condo_path(@condo.id), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
