<% if @shared_fee.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p><%= I18n.t('errors.messages.verify_error') %></p>
    <ul>
      <% @shared_fee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mt-3 card rounded-0 border-0">
  <%= link_to :back, class: "ms-3 mt-3" do %>
    <%= image_tag "arrow-left", size: "25" %>
  <% end %>

  <span class="fs-4 mx-auto mt-3 text-uppercase">
    <%= I18n.t('views.new.create_shared_fee') %>
  </span>

  <%= form_with model: @shared_fee, local: true do |f| %>
    <div class="form-floating mb-3 w-50 mx-auto mt-4">
      <%= f.select(:condo_id, Condo.all.collect { |c| [ c.name, c.id ] }, { :selected => @selected_condo_id }, class: "form-select") %>
      <%= f.label :condo_id %>
    </div>

    <div class="form-floating mb-3 w-50 mx-auto">
      <%= f.text_field :description, class: "form-control" %>
      <%= f.label :description %>
    </div>

    <div class="form-floating mb-3 w-50 mx-auto">
      <%= f.text_field :total_value, placeholder: '0,00', class: "form-control" %>
      <%= f.label :total_value %>
    </div>

    <div class="form-floating mb-3 w-50 mx-auto">
      <%= f.date_field :issue_date, class: "form-control" %>
      <%= f.label :issue_date %>
    </div>

    <div class="text-center">
      <%= f.submit I18n.t('helpers.submit.register'), class: "btn btn-primary mb-5 mt-1" %>
    </div>
  <% end %>
</div>
