Conta Compartilhada #<%= @shared_fee.id %>

<div>
  <%= SharedFee.human_attribute_name(:condo_id) %>: <%= @condo.name %>
</div>

<div>
  <%= SharedFee.human_attribute_name(:description) %>: <%= @shared_fee.description %>
</div>

<div>
  <%= SharedFee.human_attribute_name(:issue_date) %>: <%= @shared_fee.issue_date %>
</div>

<div>
  <%= SharedFee.human_attribute_name(:total_value) %>: R$ <%= @shared_fee.total_value %>
</div>

