Conta Compartilhada #<%= @shared_fee.id %>

<div>
  Condomínio: <%= @condo.name %>
</div>

<div>
  Descrição: <%= @shared_fee.description %>
</div>

<div>
  Data de Emissão: <%= @shared_fee.issue_date %>
</div>

<div>
  Valor Total: R$ <%= @shared_fee.total_value %>
</div>