<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3 w-49 align-self-start" >

  <div class="mb-3">
    <%= image_tag "user-icon", size: '25', class: 'mb-1' %>
    <span class="text-muted"><%= I18n.t('views.show.profile_section_title') %></span>
  </div>
  <%= link_to edit_property_owner_registration_path, class: "btn mt-1 rounded-2 hover-strong position-absolute top-0 end-0", id: 'edit-profile', data: { turbo_frame: "modal" } do %>
    <%= image_tag "edit-icon", size: "18" %>
  <% end %>

  <div class="border py-3 px-3 rounded-2 shadow-sm">
    <div class="d-flex justify-content-space-between align-items-center mx-auto mb-4">
      <div class="mt-3 me-3">
        <%= profile_avatar(current_property_owner) %>
      </div>

      <div class="overflow-x-hidden">
        <span class="fs-3"><%= capitalized_name(current_property_owner) %></span>
        <span class="d-block fs-7 text-muted"><%= PropertyOwner.model_name.human %></span>
        <span class="d-block"><%= current_property_owner.email %></span>
        <span class="d-block" data-controller="document-number"><%= current_property_owner.document_number %></span>
        <span class="d-block fs-8 text-muted"><%= I18n.t('views.show.since') %>: <%= current_property_owner.created_at.strftime("%d/%m/%Y") %></span>
      </div>
    </div>
  </div>
</div>
