<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3" id="units">

  <div class="mb-3">
    <%= image_tag "buildings-icon", size: '25' %>
    <span class="text-muted"><%= I18n.t('dashboards.section_title.units') %></span>
  </div>

   <div class="d-flex gap-2 flex-wrap justify-content-center">
    <% if @units.any? %>
      <% @units.each do |unit| %>
       <%= link_to unit_path(unit.id), class: "text-decoration-none", data: { turbo_frame: "modal" } do %>
          <div class="card hover-strong shadow-sm" style="width: 18rem;" id=<%= "unit-#{unit.id}"%>>
            <div class="card-body">
              <span class="d-block"><%= unit.description %></span>
              <span class="text-muted fs-8"><%= I18n.t('activerecord.models.unit.one') %> <%= unit.number%> | <%= unit.condo_name %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <span class="text-muted"><%= I18n.t('errors.not_found.units') %></span>
    <% end %>
  </div>
</div>
