<h3><%= @admin.first_name %> <%= @admin.last_name %></h3>
<span class="text-muted d-block" data-controller="document-number"><%= @admin.document_number %></span>

<% if @admin.photo.attached? %>
  <%= image_tag(@admin.photo, class: "img-thumbnail w-25") %>
<% else %>
  <%= image_tag('user', class: "img-thumbnail w-25") %>
<% end %>
<div>  
  <% if admin_signed_in? && current_admin == @admin %>
    <%= link_to 'Editar', edit_admin_registration_path %>
  <% end %>
  <%= link_to 'Voltar', admins_path %>
</div>
