<% if @common_area_fee.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Por favor, corrija os seguintes erros:</strong>
    <ul>
      <% @common_area_fee_errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @common_area_fee, url: condo_common_area_common_area_fees_path(@condo_id, @common_area_id) do |f| %>
  <%= f.hidden_field :common_area_id, value: @common_area_id %>

  <div>
    <%= f.label :value, class: "form-label" %>
    <%= f.text_field :value, placeholder: '0,00', class: "form-control" %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to 'Cancelar', condo_common_area_path(@condo_id, @common_area_id), class:"btn btn-danger" %>
  </div>
<% end %>
