<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="mb-3">
      <%= link_to "", :back, class: "btn btn-close btn-sm" %>
    </div>

    <span class="d-block fs-4 mx-auto mt-3 mb-3 text-uppercase text-center">
      <%= I18n.t('devise.registrations.edit.edit_admin') %>
    </span>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>

      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <%= f.label :email %>
      </div>

      <% if @minimum_password_length %>
        <div class="w-75 mx-auto">
          <span class="text-muted"><%= @minimum_password_length %> caractéres mínimos</span>
        </div>
      <% end %>
      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <%= f.label :password %> <i class="text-muted">(deixe em branco se não quiser mudar)</i>
      </div>

      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        <%= f.label :password_confirmation %>
      </div>

      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
        <%= f.label :first_name %>
      </div>

      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
        <%= f.label :last_name %>
      </div>

      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.file_field :photo, class: "form-control" %>
        <%= f.label :photo %>
      </div>

      <div class="text-center mt-1">
        <%= f.submit I18n.t('devise.registrations.edit.update'), class: "btn btn-primary text-uppercase" %>
      </div>
    <% end %>
  </div>
<% end %>
