<%= form_with model: @associated_condo, url: admin_associated_condo_path(@admin_id) do |f| %>
  <%= f.collection_check_boxes :payment_method_ids, Condo.all, :id, :name, { multiple: true }, { class: "form-check-input" } do |b| %>
    <div class="form-check ms-4">
      <%= b.check_box %>
      <%= b.label class: "form-check-label" do %>
        <%= b.text %>
      <% end %>
    </div>
  <% end %>
<% end %>

