<div>
  <h2 class="container text-center">Criar Taxa para <%= @common_area.name %></h2>
</div>

<% if @common_area.errors.any? %>
  <div class="container text-center">

    <h3>Atente-se aos erros abaixo:</h3>
    
    <ul>
      <% @common_area_errors.each do |error| %>
        <span class="text-danger"><%= error %></span><br>
      <% end %>
    </ul>
    
  </div>
<% end %>
<div class="container text-center p-4 shadow rounded-4 col-4">
  <div class="">
    <%= form_with model: [@common_area], url: condo_common_area_path(@condo.id) do |f| %>
      <div>
        <%= f.label :fee_cents, class: "form-label" %>
        <%= f.number_field :fee_cents, class: "form-control" %>
      </div>
      <div class="mt-3">
        <%= f.submit "Atualizar", class:"btn btn-primary me-3" %>
        <%= link_to 'Cancelar', condo_common_area_path(@condo.id, @common_area), class:"btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
