<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-sm">
    <%= link_to "", :back, class: "btn btn-close btn-sm" %>
    <span class="fs-8 text-center d-block"><%= CommonArea.model_name.human %></span>
    <span class="fs-3 text-center d-block"><%= @common_area.name%></span>
    <hr>
    <% if @common_area.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p><%= I18n.t('errors.messages.verify_error') %></p>
        <ul>
          <% @common_area.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: [@common_area], url: condo_common_area_path(@condo.id) do |f| %>
      <div class="form-floating mt-3">
        <%= f.text_field :fee, placeholder: '0,00', class: "form-control" %>
        <%= f.label :fee, class: "form-label" %>
      </div>
      <div class="mt-3 d-flex justify-content-end">
        <%= f.submit I18n.t('helpers.submit.update'), class:"btn btn-primary me-1" %>
        <%= link_to I18n.t('helpers.submit.cancel'), condo_common_area_path(@condo.id, @common_area), class:"btn btn-danger" %>
      </div>
    <% end %>
  </div>
<% end %>
