<div class="container text-center mt-4">

  <div class="container shadow rounded-4 p-4">
    <div class="d-flex">
      <h3><%= @common_area.name%></h3>
      <strong>Taxa de área comum: <%= @common_area.fee.zero? ? 'Taxa não cadastrada' : number_to_currency(@common_area.fee) %></strong>
    </div>
    <div>
      <p>Descrição: <%= @common_area.description %></p>
      <p>Capacidade máxima: <%= @common_area.max_capacity %></p>
      <p>Regras de uso: <%= @common_area.usage_rules %></p>
    </div>

    
    <% if @common_area.common_area_fee_histories.any? %>
      
      <p class="d-inline-flex gap-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Mostrar histórico de taxas
        </a>
      </p>
      
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <ul>

            <% @common_area.common_area_fee_histories.each do |history_fee| %>
              <li>Email: <%= history_fee.user %> | Data: <%= history_fee.created_at.strftime('%d/%m/%Y') %> | Taxa: <%= number_to_currency history_fee.fee %></li>
            <% end %>
          
          </ul>
        </div>
      </div>

    <% end %>

  </div>

  <%= link_to 'Registrar Taxa', edit_condo_common_area_path(@common_area.condo, @common_area) %>
</div>
