<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-md">
    <%= link_to "", condo_path(@condo.id), class: "btn btn-close btn-sm", id: 'close' %>

    <% if notice %>
      <div class="mt-3 alert alert-success text-center" role="alert"><%= notice %></div>
    <% end %>

    <span class="fs-8 text-center d-block"><%= I18n.t('activerecord.models.common_area.one') %></span>
    <span class="fs-3 text-center d-block"><%= @common_area.name%></span>
    <span class="fs-8 text-center d-block text-muted"><%= @common_area.description %></span>
    <hr>

    <div class="d-flex justify-content-center align-items-center">
      <%= image_tag "dollar-icon", size: "20" %>
      <span class="ms-1 me-2 fs-7 text-muted">
        <%= I18n.t('dashboards.labels.common_area_fee') %>
      </span>

      <%= @common_area_fee&.value.nil? ? I18n.t('errors.not_found.common_areas') : @common_area_fee.value.format %>
      <%= link_to new_condo_common_area_common_area_fee_path(@condo.id, @common_area.id), class:"btn", id: 'new-common-area', data: { turbo_frame: "modal" } do %>
        <%= image_tag "edit-icon", size: "22", class: "mb-1" %>
      <% end %>
    </div>

    <hr>

    <div class="px-5">
      <div class=" d-flex justify-content-between">
        <span class="text-muted text-lowercase fs-8"><%= I18n.t('dashboards.labels.capacity') %></span>
        <span><%= @common_area.max_occupancy %> pessoas</span>
      </div>
      <div class=" d-flex justify-content-between">
        <span class="text-muted text-lowercase fs-8"><%= I18n.t('dashboards.labels.rules') %></span>
        <span class=""><%= @common_area.rules %></span>
      </div>
    </div>

    <%= render "common_area_fee_histories" %>
  </div>
<% end %>
