<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-sm">
    <%= link_to "", condo_path(@condo.id), class: "btn btn-close btn-sm" %>
    
    <span class="fs-8 text-center d-block">área comum</span>
    <span class="fs-3 text-center d-block"><%= @common_area.name%></span>
    <span class="fs-8 text-center d-block text-muted"><%= @common_area.description %></span>
    <hr>

    <div class="d-flex justify-content-center align-items-center">
      <%= image_tag "dollar-icon", size: "20" %>
      <span class="ms-1 me-2 fs-7 text-muted">
        <%= I18n.t('views.show.common_area_fee') %>
      </span>
      <%= @common_area.fee_cents.zero? ? I18n.t('views.index.no_fee') : Money.new(@common_area.fee_cents, 'BRL').format %>
      <%= link_to edit_condo_common_area_path(@condo.id, @common_area), class:"btn", data: { turbo_frame: "modal" } do %>
        <%= image_tag "edit-icon", size: "22", class: "mb-1" %>
      <% end %>
    </div>

    <hr>

    <div class="text-center">
      <span class="text-muted text-lowercase fs-8"><%= I18n.t('views.show.capacity') %></span>
      <span><%= @common_area.max_capacity %> pessoas</span>
      <br>
      <span class="text-muted text-lowercase fs-8"><%= I18n.t('views.show.rules') %></span>
      <span class=""><%= @common_area.usage_rules %></span>
    </div>

    <% if @common_area.common_area_fee_histories.any? %>
      <p class="d-inline-flex gap-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <%= I18n.t('views.show.show_history') %>
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <ul>
            <% @common_area.common_area_fee_histories.each do |history_fee| %>
              <li><%= I18n.t('views.show.email') %><%= history_fee.user %> | <%= I18n.t('views.show.description') %><%= history_fee.created_at.strftime('%d/%m/%Y') %> | <%= I18n.t('views.show.fee') %> <%= Money.new(history_fee.fee_cents, 'BRL').format %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
