<%- if controller_name != 'sessions' %>
  <%= link_to I18n.t('devise.sessions.new.sign_in_property_owner'), new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="text-center mb-1">
    <%= link_to new_registration_path(resource_name), class: "text-decoration-none btn hover-strong" do %>
      <%= image_tag "add-admin", size: "18" %>
      <span class="text-uppercase fs-7"><%= I18n.t('devise.registrations.new.sign_up') %></span>
    <% end %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%#= link_to I18n.t('devise.shared.links.forgot_your_password'), new_password_path(resource_name) %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to I18n.t('devise.shared.links.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to I18n.t('devise.shared.links.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
