
    <p class="text-center text-muted fs-7"><%= I18n.t('dashboards.labels.payment') %></p>
    <div class="d-flex justify-content-center gap-2 mb-2">
      <% if @bill.pending? %>
        <span class="badge text-bg-danger text-uppercase fs-7"><%= I18n.t('bills.status.pending') %></span>
      <% elsif @bill.awaiting? %>
        <span class="badge text-bg-warning text-uppercase fs-7"><%= I18n.t('bills.status.awaiting') %></span>
      <% else %>
        <span class="badge text-bg-success text-uppercase fs-7"><%= I18n.t('bills.status.paid') %></span>
      <% end %>
    </div>

    <% unless @bill.pending? || @bill.receipt&.file.nil? %>
      <div class="text-center">
        <%= link_to url_for(@bill.receipt.file), target: "_blank", class: "btn hover-strong" do %>
          <%= image_tag "document-search-icon", size: "20" %>
          <span class="ms-1 fs-7 text-uppercase"><%= I18n.t('buttons.show.receipt') %></span>
        <% end %>
      </div>
    <% end %>

