<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="mb-3">
    <%= image_tag "document-search-icon", size: '25', class: 'mb-1' %>
    <span class="text-muted">Acesso às faturas para moradores</span>
  </div>
  <%= form_with url: find_tenant_path, method: :get, id: "get_tenant_bill" do |f| %>
    <div class="d-flex mt-3 w-50 mx-auto">
      <%= f.text_field :get_tenant_bill, placeholder: "informe seu cpf", class: "form-control me-2", data: { controller: 'masked-document-number' } %>
      <%= f.submit 'Buscar', class: "btn btn-primary text-uppercase fs-7 ls-3" %>
    </div>
  <% end %>

  <% if @tenant %>
    <div>
      <span class="d-block fs-4 mx-auto mt-3 text-uppercase">
        <%= Bill.model_name.human(count: 2) %>
      </span>
      <span class="mx-auto text-uppercase fs-7 text-muted"><%= @tenant.residence[:condo_name] %></span>

      <div class="d-flex justify-content-center mt-4 mb-4">
        <% if @bills.any? %>
          <div class="list-group w-75">
            <% @bills.each do |bill| %>
              <%= link_to condo_bill_path(@condo.id, bill), class: "list-group-item p-3 list-group-item-action hover-strong", data: { turbo_frame: "modal" } do %>
                <div class="d-flex w-100 justify-content-between">
                  <span class="d-block mb-1 fs-5">
                    <%= unit_name(bill) %>
                  </span>
                  <div class="d-flex flex-wrap text-end">
                    <small class="text-body-secondary w-100">
                      <%= Bill.human_attribute_name(:due_date) %>:
                      <%= I18n.l(bill.due_date) %>
                    </small>
                  </div>
                </div>
                <span class="text-muted fs-7 text-lowercase"><%= Bill.human_attribute_name(:total_value) %></span>
                <span><%= bill.total_value.format %></span>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p><%= I18n.t('views.index.no_bills') %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
