<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-md">
    <%= link_to "", condo_bills_path(@condo.id), class: "btn btn-close btn-sm", id: 'close' %>

    <span class="fs-8 text-center d-block"><%= Bill.model_name.human %></span>
    <span class="fs-3 text-center d-block"><%= unit_name(@bill) %></span>
    <span class="fs-8 text-center d-block text-muted"><%= @condo.name %></span>
    <hr>

    <div class="d-flex justify-content-center align-items-center">
      <%= image_tag "dollar-icon", size: "20" %>
      <span class="ms-1 me-2 fs-7 text-muted">
        <%= Bill.human_attribute_name(:total_value) %>
      </span>

      <%= @bill.total_value.format %>
    </div>

    <hr>
    <div class="px-5">
      <div class=" d-flex justify-content-between">
        <span class="text-muted text-lowercase fs-8"><%= BaseFee.model_name.human %>:</span>
        <span><%= BaseFeeCalculator.total_value(@unit.unit_type_id) %></span>
      </div>
      <div class=" d-flex justify-content-between">
        <span class="text-muted text-lowercase fs-8"><%= SharedFee.model_name.human %>:</span>
        <span class=""><%= BillCalculator.calculate_shared_fees(@unit.unit_type_id) %></span>
      </div>
    </div>
    <hr>

    <div class="px-5">
      <div class=" d-flex justify-content-between">
        <span class="text-muted text-lowercase fs-8"><%= Bill.human_attribute_name(:due_date) %>:</span>
        <span><%= I18n.l(@bill.due_date) %></span>
      </div>
      <div class=" d-flex justify-content-between">
        <span class="text-muted text-lowercase fs-8"><%= Bill.human_attribute_name(:issue_date) %>:</span>
        <span class=""><%= I18n.l(@bill.issue_date) %></span>
      </div>
    </div>

    <hr>
    <p class="text-center text-muted fs-7">Pagamento</p>
    <div class="d-flex justify-content-center gap-2 mb-2">
      <% if @bill.pending? %>
        <span class="badge text-bg-danger text-uppercase fs-7"><%= I18n.t('views.show.pending') %></span>
      <% elsif @bill.awaiting? %>
        <span class="badge text-bg-warning text-uppercase fs-7"><%= I18n.t('views.show.awaiting') %></span>
      <% else %>
        <span class="badge text-bg-success text-uppercase fs-7"><%= I18n.t('views.show.paid') %></span>
      <% end %>
    </div>

    <% unless @bill.pending? %>
      <%= button_to "", class: "d-flex align-items-center btn hover-strong mx-auto" do %>
        <%= image_tag "document-search-icon", size: "20" %>
        <span class="ms-1 fs-7 text-uppercase"><%= I18n.t('views.show.view_receipt') %></span>
      <% end %>
    <% end %>

    <% if @bill.awaiting? %>
      <div class="d-flex justify-content-center gap-2 mt-2">
        <%= button_to accept_payment_condo_bill_path(@condo.id, @bill), class: "d-flex align-items-center btn hover-strong mx-auto", data: { turbo_confirm: I18n.t('views.show.confirm-accept') } do %>
          <%= image_tag "check-icon", size: "16" %>
          <span class="ms-1 fs-7 text-uppercase"><%= I18n.t('views.show.accept_payment') %></span>
        <% end %>
        <%= button_to reject_payment_condo_bill_path(@condo.id, @bill), class: "d-flex align-items-center btn hover-danger mx-auto", data: { turbo_confirm: I18n.t('views.show.confirm-reject') } do %>
          <%= image_tag "block-icon", size: "14" %>
          <span class="ms-1 fs-7 text-uppercase"><%= I18n.t('views.show.reject_payment') %></span>
        <% end %>
      </div>
    <% end %>

  </div>
<% end %>
