<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-md">
    <%= link_to "", :back, id: 'close', class: "btn btn-sm btn-close" %>

    <span class="fs-8 text-center d-block"><%= Bill.model_name.human %></span>
    <span class="fs-3 text-center d-block"><%= unit_name(@bill) %></span>
    <span class="fs-8 text-center d-block text-muted"><%= @condo.name %></span>
    <hr>
      <%= render partial: "bill_dates" %>
    <hr>
      <%= render partial: "bill_description" %>
    <hr>
    <div class="d-flex justify-content-center align-items-center">
      <%= image_tag "dollar-icon", size: "20" %>
      <span class="ms-1 me-2 fs-7 text-muted">
        <%= Bill.human_attribute_name(:total_value) %>
      </span>

      <%= @bill.total_value.format %>
    </div>
    <hr>
    <%= render partial: "bill_status" %>
  </div>
<% end %>
