<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="text-muted fs-8">
    <%= image_tag "admin-icon", size: '18' %>
    <span><%= Admin.model_name.human(count: 2) %></span>
  </div>

  <%= link_to new_admin_registration_path, class: "btn btn-secondary mt-3 w-20 mx-auto mb-3" do %>
    <%= image_tag "add-admin", size: "25" %>
    <span class="text-uppercase"><%= Admin.model_name.human %></span>
  <% end %>

  <div class="d-flex justify-content-center">
    <div class="accordion w-50" id="recent-admins">
      <% @recent_admins.each do |admin| %>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= dom_id(admin) %>" aria-expanded="false" aria-controls="<%= dom_id(admin) %>">
              <%= avatar(admin) %>
              <%= capitalized_name(admin) %>
            </button>
          </h2>
          <div id="<%= dom_id(admin) %>" class="accordion-collapse collapse" data-bs-parent="#admin-accordion">
            <div class="accordion-body">
              <span class="fw-bold">Email:</span>
              <span><%= admin.email %></span>
              <hr class="divider">
              <span class="fw-bold">CPF:</span>
              <span data-controller="document-number"><%= admin.document_number %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if @admins.length > 4 %>
    <div data-controller="change-button" class="text-center mt-3 mb-3">
      <%= link_to admins_path, class: 'btn text-uppercase', data: { change_button_target: "allAdminsBtn", turbo_frame: "expand" } do %>
        <%= image_tag "arrow-down", size: "20" %>
        <span class="fs-8">Mostrar todos</span>
      <% end %>

      <%= link_to root_path, class: 'btn text-uppercase', data: { change_button_target: "hideAdminsBtn", turbo_frame: "expand" } do %>
        <%= image_tag "arrow-up", size: "20" %>
        <span class="fs-8">Ocultar</span>
      <% end %>
      <%= turbo_frame_tag 'expand' %>
    </div>
  <% end %>
</div>
