<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="text-muted mb-3 fs-8">
    <%= image_tag "buildings-icon", size: '18' %>
    <span><%= I18n.t('views.index.condo') %></span>
  </div>

  <% if @condos.any? %>
    <%= render 'home/admin_dashboard/search_condos' %>
  <% end %>

  <div class="d-flex justify-content-center gap-2">
    <% if @condos.any? %>
      <% @first_condos.each do |condo| %>
        <%= link_to condo_path(condo.id), class: "text-decoration-none" do %>
          <div class="card hover-strong shadow-sm" style="width: 18rem; height: 7rem;">
            <div class="card-body">
              <span class="d-block"><%= condo.name %></span>
              <span class="text-muted fs-8"><%= condo.city %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <span class="text-muted"><%= I18n.t('views.index.no_condos') %></span>
    <% end %>
  </div>
  <% if array_length_greater_than?(@condos, 4) %>
    <div data-controller="change-button-condo" class="mt-3 mb-3">
      <div class="text-center">
        <%= link_to condos_path, class: 'btn text-uppercase', data: { change_button_condo_target: "allCondosBtn", turbo_frame: "expand-condos" } do %>
          <%= image_tag "arrow-down", size: "20" %>
          <span class="fs-8"><%= I18n.t('views.show.show_all') %></span>
        <% end %>
        <%= link_to root_path, class: 'btn text-uppercase', data: { change_button_condo_target: "hideCondosBtn", turbo_frame: "expand-condos" } do %>
          <%= image_tag "arrow-up", size: "20" %>
          <span class="fs-8"><%= I18n.t('views.show.hide') %></span>
        <% end %>
      </div>
      <%= turbo_frame_tag 'expand-condos' %>
    </div>
  <% end %>
</div>
