<%= form_with url: search_path, method: :get do |f| %>
  <div class="d-flex justify-content-center mb-4">
    <%= f.text_field :query, class: 'form-control w-40 me-3', placeholder: 'Busque um condomínio' %>
    <%= f.submit 'Buscar', class: "btn btn-primary text-uppercase fs-7 ls-3" %>
  </div>
<% end %>

<% if @query %>
  <div class="text-muted mb-2">
    <% if @query.empty? %>
      <span class="d-block text-center fs-7"><%= I18n.t('errors.query.empty_condo') %></span>
    <% elsif  @query_results.empty? %>
     <span class="d-block text-center fs-7"><%= I18n.t('errors.query.no_result') %></span>
    <% else %>
      <span class="d-block text-center fs-7"><%= "Resultados para #{@query}" %></span>
      <div class="d-flex justify-content-center gap-2 flex-wrap mt-2 mb-2">
        <% @query_results.each do |condo| %>
          <%= link_to condo_path(condo.id), class: "text-decoration-none" do %>
            <div class="card hover-strong shadow-sm" style="width: 18rem; height: 7rem;">
              <div class="card-body">
                <span class="d-block"><%= condo.name %></span>
                <span class="text-muted fs-8"><%= condo.city %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>
