<div class="mt-3">
  <h3>Login</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating mb-2 w-50">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.label :email %>
    </div>

    <div class="form-floating mb-2 w-50">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      <%= f.label :password %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check form-switch mb-2">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

