<div class="mt-3 card bg-off-white rounded-0 border-0 mb-4">
  <%= link_to root_path, class: "ms-3 mt-3" do %>
    <%= image_tag "arrow-left", size: "25", id: "arrow-left" %>
  <% end %>

  <span class="fs-4 mx-auto mt-3 text-uppercase">
    <%= SingleCharge.model_name.human(count: 2) %>
  </span>
  
  <div class="d-flex justify-content-center mt-4 mb-4">
    <% if @single_charges.any? %>
      <div class="list-group w-75">
        <% @single_charges.each_with_index do |single_charge, idx| %>

          <div class="list-group-item p-3">
            <div class="d-flex w-100 justify-content-between">
              <span class="d-block mb-1 fs-4">
                <%= I18n.t "single_charge.#{single_charge.charge_type}" %>
              </span>

              <span class="text-center position-absolute text-muted" style="left: 50%; transform: translateX(-50%);"> 
                <%= Condo.find(single_charge.condo_id).name %>
              </span>
              
              <div class="d-flex flex-wrap text-end">
                <small class="text-body-secondary w-100">
                  <%= SingleCharge.human_attribute_name(:issue_date) %>:
                  <%= I18n.l(single_charge.issue_date) %>
                </small>
                <% if single_charge.active? %>
                  <span class="mt-1 ms-auto badge text-bg-success text-uppercase"><%= I18n.t("single_charge.statuses.#{single_charge.status}") %></span>
                <% else %>
                  <span class="mt-1 ms-auto badge text-bg-danger text-uppercase"><%= I18n.t("single_charge.statuses.#{single_charge.status}") %></span>
                <% end %>
              </div>
            </div>

            <span> 
              <%= humanized_unit(single_charge.unit_id) %>
            </span>
            <span>vasco</span>
            <span class="d-block">
              <%= single_charge.description %>
            </span>
            <span class="text-muted fs-7 text-lowercase"><%= SingleCharge.human_attribute_name(:value) %></span>
            <span><%= single_charge.value.format %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <p><%= I18n.t('views.index.no_single_charges') %></p>
    <% end %>
  </div>
</div>

