<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3 w-49">
  <div class="text-muted mb-3 fs-8 d-flex">
    <%= image_tag "buildings-icon", size: '18' %>
    <div class="breadcrumb w-50 ms-2" aria-label="breadcrumb">
      <%= link_to "Condomínios", root_path, class: "breadcrumb-item" %>
      <span class="breadcrumb-item active"><%= I18n.t('views.show.condo') %></span>
    </div>
  </div>
  <div class="card">
    <span></span><%= @condo.name %>
    <%= @condo.city %>
  </div>
</div>

<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="text-muted mb-3 fs-8">
    <%= image_tag "open-folder-icon", size: '18' %>
    <span>contas compartilhadas</span>
  </div>
  <%= link_to 'Lançar Conta Compartilhada', new_shared_fee_path(condo_id: @condo.id), class: 'dropdown-item' %>
  <%= link_to 'Exibir Contas Compartilhadas', shared_fees_path(condo_id: @condo.id), class: 'dropdown-item' %>
</div>

<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="text-muted mb-3 fs-8">
    <%= image_tag "clipboard-icon", size: '18' %>
    <span>taxas</span>
  </div>
  <%= link_to 'Cadastrar Nova Taxa', new_condo_base_fee_path(condo_id: @condo.id), class: 'dropdown-item' %>
  <%= link_to 'Exibir Taxas Cadastradas', condo_base_fees_path(condo_id: @condo.id), class: 'dropdown-item' %>
</div>

<%= render 'common_areas_section' %>
