<span class="d-block fs-4 mx-auto mt-3 mb-3 text-uppercase text-center">
  <%= I18n.t('views.index.base_fee_list') %>
</span>

<%= link_to :back, class: "ms-3 mt-3" do %>
  <%= image_tag "arrow-left", size: "25" %>
<% end %>

<% if @base_fees.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('views.index.name') %></th>
      </tr>
    </thead>
    <tbody>
      <% @base_fees.each do |base_fee| %>
        <tr>
          <td><%= link_to base_fee.name, condo_base_fee_path(@condo.id, base_fee) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <strong><%= I18n.t('views.index.no_base_fees')%></strong>
<% end %>