<div class="mt-3 card bg-off-white rounded-0 border-0 mb-4">
  <%= link_to condo_path(@condo.id), class: "ms-3 mt-3" do %>
    <%= image_tag "arrow-left", size: "25", id: 'arrow-left' %>
  <% end %>
  <span class="fs-4 mx-auto mt-3 text-uppercase">
    <%= I18n.t('views.index.base_fee_list') %>
  </span>
    <span class="mx-auto text-uppercase fs-7 text-muted"><%= @condo.name %></span>
  <div class="d-flex justify-content-center mt-4 mb-4">
    <% if @base_fees.any? %>
      <div class="list-group w-75">
        <% @base_fees.each do |base_fee| %>
          <%= link_to condo_base_fee_path(@condo.id, base_fee), class: "list-group-item p-3 list-group-item-action hover-strong", data: { turbo_frame: "modal" } do %>
            <div class="d-flex w-100 justify-content-between">
              <span class="d-block mb-1 fs-5">
                <%= base_fee.name %>
              </span>
              <small class="d-block text-body-secondary">
                <%= SharedFee.human_attribute_name(:issue_date) %>:
                <%= I18n.l(base_fee.charge_day.to_date)%>
              </small>
            </div>
            <span class="d-block">
              <%= base_fee.description %>
            </span>
            <span class="text-muted fs-7 text-lowercase"><%= BaseFee.human_attribute_name(:recurrence) %></span>
            <span class="text-uppercase fs-7"><%= I18n.t("activerecord.attributes.base_fee.enum_recurrence.#{base_fee.recurrence}") %></span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p><%= I18n.t('views.index.no_base_fees')%></p>
    <% end %>
  </div>
</div>
