<h2>Cadastro de Taxas do Condomínio</h2>

<%= form_with model: [@condo, @base_fee], local: true do |f| %>
  <%= hidden_field_tag :condo, @condo.id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :recurrence %>
    <%= f.select :recurrence, options_for_select(BaseFee.recurrences.map { |key, _| [I18n.t("base_fee.#{key}"), key] }, @base_fee.recurrence), {} %>
  </div>

  <% @condo.unit_types.each_with_index do |ut, index| %>
    <%= f.fields_for :values do |values_form| %>
      <div class="field">
        <%= values_form.label :price, t('views.new.label_price', name: ut.description) %>
        <%= values_form.number_field :price %>
        <%= values_form.hidden_field :unit_type_id, value: ut.id %>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :charge_day %>
    <%= f.text_field :charge_day %>
  </div>

  <div class="field">
    <%= f.check_box :fixed, {}, "true", "false" %>
    <%= f.label :fixed %>
  </div>

  <div class="field">
    <%= f.label :late_payment %>
    <%= f.number_field :late_payment %>
  </div>

  <div class="field">
    <%= f.label :late_fee %>
    <%= f.number_field :late_fee %>
  </div>

  <div class="actions">
    <%= f.submit t('helpers.submit.submit') %>
  </div>
<% end %>
