<form>
  <%= form_with model: [@condo, @base_fee] do |f| %>
    <div class="field">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :recurrence, 'Recorrência' %>
      <%= f.select :recurrence, BaseFee.recurrences.keys.to_a %>
    </div>

    <% @condo.unit_types.each do |ut| %>

      <%= f.fields_for @value, index: ut.id do |values_form| %>
        <div class="field">
            <%= values_form.label :price, "Valor para #{ut.description}" %>
            <%= values_form.number_field :price %>
        </div>
      <% end %>

    <% end %>

    <div class="field">
      <%= f.label :charge_day, 'Dia do Lançamento' %>
      <%= f.text_field :charge_day %>
    </div>

    <div class="field">
      <%= f.check_box :fixed, {}, "true", "false" %>
      <%= f.label :fixed, 'Taxa fixa' %>
    </div>

    <div class="field">
      <%= f.label :late_payment, 'Juros ao dia' %>
      <%= f.number_field :late_payment %>
    </div>

    <div class="field">
      <%= f.label :late_fee, 'Multa' %>
      <%= f.number_field :late_fee %>
    </div>
  <% end %>
</form>
