<% if @base_fee.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p><%= I18n.t('errors.messages.verify_error') %></p>
    <ul>
      <% @base_fee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mt-3 card bg-off-white rounded-0 border-0">
  <%= link_to :back, class: "ms-3 mt-3" do %>
    <%= image_tag "arrow-left", size: "25" %>
  <% end %>

  <span class="fs-4 mx-auto mt-3 text-uppercase">
    <%= I18n.t('views.new.create_fee', condo: @condo.name) %>
  </span>

  <%= form_with model: [@condo, @base_fee], local: true do |f| %>
    <%= hidden_field_tag :condo, @condo.id %>

    <div class="form-floating mb-2 w-50 mx-auto mt-4">
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :name %>
    </div>

    <div class="form-floating mb-2 w-50 mx-auto">
      <%= f.text_field :description, class: "form-control" %>
      <%= f.label :description %>
    </div>

    <div class="form-floating mb-2 w-50 mx-auto">
      <%= f.select :recurrence, options_for_select(BaseFee.recurrences.map { |key, _| [I18n.t("base_fee.#{key}"), key] }, @base_fee.recurrence), {}, class: "form-control" %>
      <%= f.label :recurrence %>
    </div>

    <%= f.fields_for :values do |values_form| %>
      <div class="form-floating mb-2 w-50 mx-auto">
          <%= values_form.label :price, I18n.t('activerecord.values.values_price', unit_type: values_form.object.unit_type.description ) %>
          <%= values_form.text_field :price, placeholder: '0,00', class: "form-control" %>
          <%= values_form.hidden_field :unit_type_id, value: values_form.object.unit_type.id %>
      </div>
    <% end %>

    <div class="form-floating mb-2 w-50 mx-auto">
      <%= f.date_field :charge_day, class: "form-control" %>
      <%= f.label :charge_day %>
    </div>

    <div class="form-floating mb-2 w-50 mx-auto">
      <%= f.check_box :fixed, {}, "true", "false" %>
      <%= f.label :fixed %>
    </div>

    <div class="form-floating mb-2 w-50 mx-auto">
      <%= f.number_field :interest_rate, class: "form-control" %>
      <%= f.label :interest_rate %>
    </div>

    <div class="form-floating mb-2 w-50 mx-auto">
      <%= f.text_field :late_fine, placeholder: '0,00', class: "form-control" %>
      <%= f.label :late_fine %>
    </div>

    <div class="text-center">
      <%= f.submit I18n.t('helpers.submit.submit'), class: 'btn btn-primary mb-5' %>
    </div>
  <% end %>
</div>
