<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-sm">
    <%= link_to "", condo_base_fees_path(@base_fee, condo_id: @condo.id), class: "btn btn-sm btn-close" %>

    <span class="fs-8 text-center d-block"><%= BaseFee.model_name.human %></span>
    <span class="fs-3 text-center d-block"><%= @base_fee.name %></span>
    <span class="fs-8 text-center d-block"><%= @base_fee.description %></span>
    <hr>

    <div class="d-flex justify-content-center align-items-center mb-2">
      <span class="badge text-bg-secondary fs-6 text-uppercase ls-4">
        <%= I18n.t("activerecord.attributes.base_fee.enum_recurrence.#{@base_fee.recurrence}") %>
      </span>
    </div>

    <div class=" d-flex justify-content-center align-items-center">
      <span class="badge text-bg-info fs-6 text-uppercase ls-4">
        <%= BaseFee.human_attribute_name(:fixed) if @base_fee.fixed %>
      </span>
    </div>

    <hr>

    <% @values.each do |value| %>
      <div class=" d-flex justify-content-center">
          <% unit_type = @unit_types.find { |ut| ut.id == value.unit_type_id } %>
          <% if unit_type.present? %>
            <span class="text-muted text-lowercase fs-8">
              <%= I18n.t('activerecord.values.values_price', unit_type: unit_type.description ) %>:
            </span>
            <span><%= number_to_currency(value.price, locale: :'pt-BR')%></span>
          <% end %>
      </div>
    <% end %>

    <div class=" d-flex justify-content-center">
      <span class="text-center">
        <%= I18n.t('views.show.interest_rate', number: @base_fee.interest_rate) %>
      </span>
    </div>

    <div class=" d-flex justify-content-center">
      <span class="text-center">
        <%= I18n.t('views.show.late_fine', number: @base_fee.late_fine) %>
      </span>
    </div>

    <div class="px-5">
      <div class=" d-flex justify-content-center align-items-center">
        <span class="text-muted text-lowercase fs-8 me-1">
          <%= SharedFee.human_attribute_name(:issue_date) %>
        </span>
        <span class="fs-7">
          <%= I18n.localize(@base_fee.charge_day.to_date)%>
        </span>
      </div>
    </div>
  </div>
<% end %>

