<div class="container text-center mt-4">
  <div class="container shadow rounded-4 p-4 col-6">
    <h2><%= @base_fee.name %></h2>

    <div class="row d-flex flex-column">
      <h5><strong><%= I18n.t("limited.#{@base_fee.limited}") %></strong></h5>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="row d-flex flex-column">
        <strong><%= BaseFee.human_attribute_name(:recurrence) %>:</strong>
        <%= I18n.t("activerecord.attributes.base_fee.enum_recurrence.#{@base_fee.recurrence}") %>
      </div>

      <div class="row d-flex flex-column">
        <strong><%= BaseFee.human_attribute_name(:description) %>:</strong>
        <%= @base_fee.description %>
      </div>

      <div class="row d-flex flex-column">
        <strong><%= BaseFee.human_attribute_name(:charge_day) %>:</strong>
        <%= I18n.localize(@base_fee.charge_day.to_date)%>
      </div>

      <% @values.each do |value| %>
        <div class="row d-flex flex-column">
          <% unit_type = @unit_types.find { |ut| ut.id == value.unit_type_id } %>
          <strong><%= I18n.t('activerecord.values.values_price', unit_type: unit_type.description ) %>:</strong>
          <%= number_to_currency(value.price, locale: :'pt-BR')%>
        </div>
      <% end %>

      <% if @base_fee.installments.present? %>
        <div class="row d-flex flex-column">
          <strong><%= I18n.t('views.show.installments', count: @base_fee.installments) %></strong>
        </div>
      <% end %>

      <div class="row d-flex flex-column">
        <strong><%= I18n.t('views.show.interest_rate', number: @base_fee.interest_rate) %></strong>
      </div>

      <div class="row d-flex flex-column">
        <strong><%= I18n.t('views.show.late_fine', number: @base_fee.late_fine) %></strong>
      </div>
    </div>
  </div>
  <hr>
  <%= link_to I18n.t('helpers.buttons.back'), condo_base_fees_path(@condo.id), class: "btn btn-secondary" %>
</div>
