<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal modal-md">
    <%= link_to "", :back, id: 'close', class: "btn btn-sm btn-close" %>

    <span class="fs-8 text-center d-block"><%= BaseFee.model_name.human %></span>
    <span class="fs-3 text-center d-block"><%= @base_fee.name %></span>
    <span class="fs-8 text-center d-block"><%= @base_fee.description %></span>
    <hr>

    <div class="d-flex justify-content-center align-items-center">
      <% if @base_fee.active? %>
        <span class="badge text-bg-success fs-4 text-uppercase ls-4"><%= I18n.t("base_fee.statuses.#{@base_fee.status}") %></span>
      <% else %>
        <span class="badge text-bg-danger fs-4 text-uppercase ls-4"><%= I18n.t("base_fee.statuses.#{@base_fee.status}") %></span>
      <% end %>
    </div>

    <hr>

    <div class="d-flex justify-content-center align-items-center mb-2">
      <span class="badge text-bg-secondary fs-6 text-uppercase ls-4">
        <%= I18n.t("activerecord.attributes.base_fee.enum_recurrence.#{@base_fee.recurrence}") %>
      </span>
    </div>

    <div class=" d-flex justify-content-center align-items-center">
      <span class="badge text-bg-info fs-6 text-uppercase ls-4">
        <%=  I18n.t("limited.#{@base_fee.limited}") %>
      </span>
    </div>

    <hr>

    <% if @base_fee.installments.present? %>
      <div class="d-flex justify-content-center">
        <strong><%= I18n.t('views.show.installments', count: @base_fee.installments) %></strong>
      </div>
    <% end %>

    <% @values.each do |value| %>
      <div class="d-flex justify-content-between">
          <% unit_type = @unit_types.find { |ut| ut.id == value.unit_type_id } %>
          <% if unit_type.present? %>
            <span class="text-muted text-lowercase fs-8">
              <%= I18n.t('activerecord.values.values_price', unit_type: unit_type.description ) %>
            </span>
            <span><%= value.price.format %></span>
          <% end %>
      </div>
    <% end %>

    <div class=" d-flex justify-content-between">
      <span class="text-muted text-lowercase fs-8">
        <%= I18n.t('views.show.interest_rate') %>
      </span>
      <span>
        <%= @base_fee.interest_rate %>%
      </span>
    </div>

    <div class=" d-flex justify-content-between">
      <span class="text-muted text-lowercase fs-8">
        <%= I18n.t('views.show.late_fine') %>
      </span>
      <span>
        <%= @base_fee.late_fine.format %>
      </span>
    </div>


    <div class=" d-flex justify-content-between">
      <span class="text-muted text-lowercase fs-8">
        <%= SharedFee.human_attribute_name(:issue_date) %>
      </span>
      <span>
        <%= I18n.l(@base_fee.charge_day.to_date)%>
      </span>
    </div>

    <% if @base_fee.active? %>
    <hr>
      <%= button_to cancel_condo_base_fee_path(@condo.id, @base_fee), class: "d-flex align-items-center btn hover-danger mx-auto", data: { turbo_confirm: I18n.t('confirm-cancel') } do %>
        <%= image_tag "block-icon", size: "16" %>
        <span class="ms-1 fs-7 text-uppercase"><%= I18n.t('cancel-button') %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

