<div class="mt-3 card bg-off-white rounded-0 border-0 mb-4">
  <%= link_to condo_path(@condo.id), class: "ms-3 mt-3" do %>
    <%= image_tag "arrow-left", size: "25", id: "arrow-left" %>
  <% end %>
  <span class="fs-4 mx-auto mt-3 text-uppercase">
    <%= SingleCharge.model_name.human(count: 2) %>
  </span>
  <div class="d-flex justify-content-center mt-4 mb-4">
    <% if @single_charges.any? %>
      <div class="list-group w-75">
        <% @single_charges.each do |single_charge| %>
          <%= link_to condo_single_charge_path(@condo.id, single_charge), class: "list-group-item p-3 list-group-item-action hover-strong", data: { turbo_frame: "modal" } do %>
            <div class="d-flex w-100 justify-content-between">
              <span class="d-block mb-1 fs-4">
                <%= I18n.t "single_charge.#{single_charge.charge_type}" %>
              </span>
              <span class="d-block mb-1 fs-6">
                <%= single_charge.description %>
              </span>
              <span class="d-block mb-1 fs-6">
                <%= I18n.t('activerecord.attributes.single_charge.unit_id') %> 
                <%= Unit.find(single_charge.unit_id).identifier %>
              </span>
              <div class="d-flex flex-wrap text-end">
                <small class="text-body-secondary w-100">
                  <%= SingleCharge.human_attribute_name(:issue_date) %>:
                  <%= I18n.l(single_charge.issue_date) %>
                </small>
                <% if single_charge.active? %>
                  <span class="mt-1 ms-auto badge text-bg-success text-uppercase"><%= I18n.t("single_charge.statuses.#{single_charge.status}") %></span>
                <% else %>
                  <span class="mt-1 ms-auto badge text-bg-danger text-uppercase"><%= I18n.t("single_charge.statuses.#{single_charge.status}") %></span>
                <% end %>
              </div>
            </div>
            <span class="text-muted fs-7 text-lowercase"><%= SingleCharge.human_attribute_name(:value) %></span>
            <span><%= single_charge.value.format %></span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p><%= I18n.t('views.index.no_single_charges') %></p>
    <% end %>
  </div>
</div>
