<div class="mt-3 card bg-off-white rounded-0 border-0 mb-4">
  <%= link_to condo_path(@condo.id), class: "ms-3 mt-3" do %>
    <%= image_tag "arrow-left", size: "25", id: "arrow-left" %>
  <% end %>

  <span class="fs-4 mx-auto mt-3 text-uppercase">
    <%= I18n.t('dashboards.labels.lists.single_charges') %>
  </span>

  <span class="d-block text-uppercase fs-7 text-muted text-center"><%= @condo.name %></span>

  <div class="d-flex justify-content-between mt-5 mb-2 w-75 mx-auto text-center">
    <div class="d-flex justify-content-center">
      <a class="fs-6 text-decoration-none btn hover-strong" data-bs-toggle="collapse" href="#allSingleCharges" role="button" aria-expanded="false" aria-controls="allSingleCharges">
        <%= image_tag "list-center-icon.png", size: "20", class: 'mb-1' %>
        <%= I18n.t('buttons.filter.all_charges').upcase %>
      </a>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <%= image_tag "filter-two-icon.png", size: "22", class: 'me-2' %>
      <a class="fs-8 text-decoration-none btn hover-strong" data-bs-toggle="collapse" href="#activeSingleCharges" role="button" aria-expanded="false" aria-controls="activeSingleCharges">
        <%= I18n.t('buttons.filter.active').upcase %>
      </a>
      <a class="fs-8 text-decoration-none btn hover-strong" data-bs-toggle="collapse" href="#canceledSingleCharges" role="button" aria-expanded="false" aria-controls="canceledSingleCharges">
        <%= I18n.t('buttons.filter.canceled').upcase %>
      </a>
      <a class="fs-8 text-decoration-none btn hover-strong" data-bs-toggle="collapse" href="#futureSingleCharges" role="button" aria-expanded="false" aria-controls="futureSingleCharges">
        <%= I18n.t('buttons.filter.future').upcase %>
      </a>
      <a class="fs-8 text-decoration-none btn hover-strong" data-bs-toggle="collapse" href="#pastSingleCharges" role="button" aria-expanded="false" aria-controls="pastSingleCharges">
        <%= I18n.t('buttons.filter.past').upcase %>
      </a>
    </div>
  </div>

  <div class="accordion mb-5 w-75 mx-auto" id="singleChargesAccordion">
    <div class="d-flex justify-content-center">
      <div class="collapse multi-collapse w-100" id="activeSingleCharges" data-bs-parent="#singleChargesAccordion">
        <h4 class="text-center mt-4 mb-4">
          <%= I18n.t('buttons.filter.active').upcase %>
        </h4>
        <div class="list-group w-100">
          <%= render partial: "single_charges_list", locals: { single_charges: @single_charges.where(status: :active) } %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="collapse multi-collapse w-100" id="futureSingleCharges" data-bs-parent="#singleChargesAccordion">
        <h4 class="text-center mt-4 mb-4">
          <%= I18n.t('buttons.filter.future').upcase %>
        </h4>
        <div class="list-group w-100">
          <%= render partial: "single_charges_list", locals: { single_charges: @single_charges.where(issue_date: (Time.zone.tomorrow..)) } %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="collapse multi-collapse w-100" id="canceledSingleCharges" data-bs-parent="#singleChargesAccordion">
        <h4 class="text-center mt-4 mb-4">
          <%= I18n.t('buttons.filter.canceled').upcase %>
        </h4>
        <div class="list-group w-100">
          <%= render partial: "single_charges_list", locals: { single_charges: @single_charges.where(status: :canceled) } %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="collapse multi-collapse w-100" id="pastSingleCharges" data-bs-parent="#singleChargesAccordion">
        <h4 class="text-center mt-4 mb-4">
          <%= I18n.t('buttons.filter.past').upcase %>
        </h4>
        <div class="list-group w-100">
          <%= render partial: "single_charges_list", locals: { single_charges: @single_charges.where(issue_date: ..Time.zone.today) } %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="collapse multi-collapse w-100 show" id="allSingleCharges" data-bs-parent="#singleChargesAccordion">
        <h4 class="text-center mt-4 mb-4">
          <%= I18n.t('buttons.filter.all_charges').upcase %>
        </h4>
        <div class="list-group w-100">
          <%= render partial: "single_charges_list", locals: { single_charges: @single_charges } %>
        </div>
      </div>
    </div>
  </div>
</div>
