<nav class="navbar navbar-expand-lg bg-body-custom">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-pa", class: "w-18" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%# nav links %>
      </div>
    </div>
    <div class="d-flex">
      <% if admin_signed_in? %>
        <%= avatar(current_admin) %>
        <div class="me-4 mt-1">
          <span class="d-block lh-1"><%= capitalized_name(current_admin) %></span>
          <span class="d-block lh-1"><%= current_admin.email %></span>
        </div>
        <%= button_to I18n.t('devise.shared.links.sign_out'), destroy_admin_session_path, method: :delete, class: "btn btn-danger text-uppercase ls-3" %>
      <% elsif property_owner_signed_in?%>
        <div class="me-4 mt-1">
          <span class="d-block lh-1"><%= current_property_owner.email %></span>
          <span class="d-block lh-1" data-controller="document-number"><%= current_property_owner.document_number %></span>
        </div>
        <%= button_to I18n.t('devise.shared.links.sign_out'), destroy_property_owner_session_path, method: :delete, class: "btn btn-success text-uppercase ls-3" %>
      <% else %>
        <%= link_to I18n.t('devise.sessions.new.sign_in'), choose_profile_path, class: "btn btn-success text-uppercase ls-3", data: { turbo_frame: "modal" } %>
      <% end %>
    </div>
  </div>
</nav>
