<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "PagueAluguel", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if admin_signed_in? %>
          <%= link_to 'Lançar Conta Compartilhada', new_shared_fee_path, class: "nav-link" %>
          <%= link_to "Admins", admins_path, class: "nav-link" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex">
      <% if admin_signed_in? %>
        <% if current_admin.photo.attached? %>
          <%= image_tag current_admin.photo, class: 'avatar me-3' %>
        <% else %>
          <%= image_tag 'purple-user', class: 'avatar me-3' %>
        <% end %>
        <div class="me-4 mt-1">
          <span class="d-block lh-1"><%= capitalized_name(current_admin) %></span>
          <span class="d-block lh-1"><%= current_admin.email %></span>
        </div>
        <%= button_to "Logout", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Login", new_admin_session_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</nav>
