<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-light-beige">
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% if notice %>
        <div class="mt-3 alert alert-warning text-center" role="alert"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="mt-3 alert alert-danger text-center" role="alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
